* {
   /* transition: all 0.5s; */
   scroll-behavior: smooth; /* lúc scroll nó kiểu chậm chậm */
}

.DetailsBanner {
   background-size: cover;
   background-position: 50%;
   background-repeat: no-repeat;
   height: 430px;
   padding-top: 235px;
   padding-bottom: 20px;
   position: relative;
}

.DetailsBanner::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: #0000007a;
}

.Wrapper {
   position: relative;
   box-sizing: border-box;
   z-index: 1;
}

.Thumbnail {
   width: calc(25% - 28px);
   display: block;
   position: absolute;
   left: 0;
   border: 1px solid #17305f;
   overflow: hidden;
   border-radius: 5px;
}

.Thumbnail > img {
   height: 100%;
   width: 100%;
}

.WatchTrailer {
   height: 100%;
   position: absolute;
   width: 100%;
   top: 0;
   background-color: #00000059;
}

.MovieTitle {
   margin-top: -10px;
   
   font-weight: 700;
   margin-bottom: 20px;
}

.MovieLanguages {
   color: #9aace5;
   margin-bottom: 25px;
}

.TypeOfMovie {
   padding: 2px 16px 4px;
   border-radius: 13px;
   border: 1px solid rgba(163, 177, 198, 0.2);
   color: #9aace5;
}

.Duration {
   margin-top: 25px;
   display: flex;
   color: #9aace5;
}

.BookingArea {
   /* position: relative; */
   background-color: #032055;
   padding: 30px 0;
   border-top: 1px solid #17305f;
   border-bottom: 1px solid #17305f;
}



.BtnBooking {
   justify-content: center;
   align-items: center;
   display: flex;
}

.Main {
   margin-top: 90px;
}

.Content p {
   line-height: 1.8;
}

.Title {
   color: green;
   padding-bottom: 15px;
}

.ApplicableOffer {
   border: 1px dashed #1f3253;
   border-radius: 10px;
   padding: 20px 20px 28px;
   margin-bottom: 30px;
   height: 80px;
}

@media (min-width: 200px) {
   .Thumbnail {
      display: none;
   }
   .DetailContent {
      margin-left: 0;
      margin-top: -70px;
      
   }
   .MovieTitle {
      line-height: 50px;
      text-align: center;
      font-size: 30px;
   }
   .MovieLanguages {
      text-align: center;
   }
   .TypeOfMovie {
      margin-left: 210px;
   }
   .Duration {
      justify-content: center;
   }
   .WrapperOther {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .InfoOther {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
   }
   .InfoOther:nth-child(1) {
      margin-bottom: 15px;
   }
   .InfoOther:nth-child(2) {
      margin-bottom: 15px;
   }
 }
 
 @media (min-width: 576px) {
   .Thumbnail {
      display: none;
   }
   .DetailContent {
      margin-left: 0;
      margin-top: -70px;
      
   }
   .MovieTitle {
      line-height: 50px;
      text-align: center;
      font-size: 30px;
   }
   .MovieLanguages {
      text-align: center;
   }
   .TypeOfMovie {
      margin-left: 200px;
   }
   .Duration {
      justify-content: center;
   }
   .WrapperOther {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .InfoOther {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
   }
   .InfoOther:nth-child(1) {
      margin-bottom: 15px;
   }
   .InfoOther:nth-child(2) {
      margin-bottom: 15px;
   }
 }
 
 @media (min-width: 768px) {
   .Thumbnail {
      display: none;
   }
   .DetailContent {
      margin-left: 0;
      margin-top: -70px;
   }
   .WrapperOther {
      margin-left: 0;
   }
   .MovieTitle {
      line-height: 50px;
      text-align: center;
      font-size: 39px;
   }
   .MovieLanguages {
      text-align: center;
   }
   .TypeOfMovie {
      margin-left: 290px;
   }
   .Duration {
      justify-content: center;
   }
   .WrapperOther {
      display: flex;
      justify-content: space-between;
   }
   .InfoOther {
      display: flex;
      align-items: center;
      justify-content: start;
      width: auto;
   }
   .InfoOther:nth-child(1) {
      margin-bottom: 0;
   }
   .InfoOther:nth-child(2) {
      margin-bottom: 0;
   }
 }
 
 @media (min-width: 992px) {
   .Thumbnail {
      height: 300px;
      display: block;
   }
   .DetailContent {
      margin-left: 25%;
      margin-top: 0;
      line-height: 30px;
   }
   .WrapperOther {
      margin-left: 35%;
   }
   .MovieTitle {
      line-height: 30px;
      text-align: start;
      font-size: 39px;
   }
   .MovieLanguages {
      text-align: start;
   }
   .TypeOfMovie {
      margin-left: 0;
   }
   .Duration {
      justify-content: start;
   }
   .WrapperOther {
      display: flex;
      justify-content: space-between;
   }
   .InfoOther {
      display: flex;
      align-items: center;
      justify-content: start;
      width: auto;
   }
   .InfoOther:nth-child(1) {
      margin-bottom: 0;
   }
   .InfoOther:nth-child(2) {
      margin-bottom: 0;
   }
 }
 
 @media (min-width: 1200px) {
   .Thumbnail {
      height: 370px;
      display: block;
   }
   .DetailContent {
      margin-left: 25%;
      margin-top: 0;
      line-height: 30px;
   }
   .WrapperOther {
      margin-left: 35%;
   }
   .MovieTitle {
      line-height: 30px;
      text-align: start;
      font-size: 39px;
   }
   .MovieLanguages {
      text-align: start;
   }
   .TypeOfMovie {
      margin-left: 0;
   }
   .Duration {
      justify-content: start;
   }
   .WrapperOther {
      display: flex;
      justify-content: space-between;
   }
   .InfoOther {
      display: flex;
      align-items: center;
      justify-content: start;
      width: auto;
   }
   .InfoOther:nth-child(1) {
      margin-bottom: 0;
   }
   .InfoOther:nth-child(2) {
      margin-bottom: 0;
   }
 }
